#a{
    background-color: #f5c6d6;
    border: white solid;
}
#b{
    background-color: #ee2e84;
    border: 4px white solid;
}
#c{
    background-color: #ee2e84;
    border:4px white solid;
}
#d{
    background-color:#ee2e84 ;
    border:4px white solid;
}
#e{
    background-color: #ee2e84;
    border:4px white solid;
}
#f{
    background-color: #85cfd8;
    border:4px white solid;

}
#g{
    background-color: #85cfd8;
    border:4px white solid;

}
#g{
    background-color: #8dc63f;
    border:4px white solid;
}
#h{
    background-color: #8dc63f;
    border:4px white solid;
}
#i{
    background-color: #e76e34;
    border:4px white solid;
}